#start {
}

#start-screen{
  text-align: center;
  margin-left: 5em;
}

#game-container {
  text-align: center;
  margin-top: 2em;
  width: 100%;
}

#player-spot {
  background-color: red;
  width: 100%;
  height: 200px;
}

#dealer-spot {
  background-color: blue;
  width: 100%;
  height: 200px;
  display: inline-block;
  position: relative;
  margin-top: 3em;
}

#bank {
  background-color: green;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-right: 53px;
}

#deck {
  background-color: pink;
  height: 172px;
  width: 250px;
  position: absolute;
  top: 20px;
  right: 68px;
}